@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'Decagram TRIAL';
  src: url('fonts/DecagramTRIAL-Th.woff2') format('woff2'),
      url('fonts/DecagramTRIAL-Th.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Decagram TRIAL';
  src: url('fonts/DecagramTRIAL-XLt.woff2') format('woff2'),
      url('fonts/DecagramTRIAL-XLt.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Decagram TRIAL';
  src: url('fonts/DecagramTRIAL-ThIt.woff2') format('woff2'),
      url('fonts/DecagramTRIAL-ThIt.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Decagram TRIAL';
  src: url('fonts/DecagramTRIAL-RgIt.woff2') format('woff2'),
      url('fonts/DecagramTRIAL-RgIt.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Decagram TRIAL';
  src: url('fonts/DecagramTRIAL-UltBlk.woff2') format('woff2'),
      url('fonts/DecagramTRIAL-UltBlk.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Decagram TRIAL';
  src: url('fonts/DecagramTRIAL-MdIt.woff2') format('woff2'),
      url('fonts/DecagramTRIAL-MdIt.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Decagram TRIAL';
  src: url('fonts/DecagramTRIAL-Md.woff2') format('woff2'),
      url('fonts/DecagramTRIAL-Md.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Decagram TRIAL';
  src: url('fonts/DecagramTRIAL-UltLt.woff2') format('woff2'),
      url('fonts/DecagramTRIAL-UltLt.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Decagram TRIAL';
  src: url('fonts/DecagramTRIAL-UltBlkIt.woff2') format('woff2'),
      url('fonts/DecagramTRIAL-UltBlkIt.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Decagram TRIAL';
  src: url('fonts/DecagramTRIAL-UltLtIt.woff2') format('woff2'),
      url('fonts/DecagramTRIAL-UltLtIt.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Decagram TRIAL';
  src: url('fonts/DecagramTRIAL-SmBdIt.woff2') format('woff2'),
      url('fonts/DecagramTRIAL-SmBdIt.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Decagram TRIAL';
  src: url('fonts/DecagramTRIAL-SmBd.woff2') format('woff2'),
      url('fonts/DecagramTRIAL-SmBd.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Decagram TRIAL';
  src: url('fonts/DecagramTRIAL-Rg.woff2') format('woff2'),
      url('fonts/DecagramTRIAL-Rg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Decagram TRIAL';
  src: url('fonts/DecagramTRIAL-XLtIt.woff2') format('woff2'),
      url('fonts/DecagramTRIAL-XLtIt.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Decagram TRIAL';
  src: url('fonts/DecagramTRIAL-LtIt.woff2') format('woff2'),
      url('fonts/DecagramTRIAL-LtIt.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Decagram TRIAL';
  src: url('fonts/DecagramTRIAL-BdIt.woff2') format('woff2'),
      url('fonts/DecagramTRIAL-BdIt.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Decagram TRIAL';
  src: url('fonts/DecagramTRIAL-Blk.woff2') format('woff2'),
      url('fonts/DecagramTRIAL-Blk.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Decagram TRIAL';
  src: url('fonts/DecagramTRIAL-Bd.woff2') format('woff2'),
      url('fonts/DecagramTRIAL-Bd.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Decagram TRIAL';
  src: url('fonts/DecagramTRIAL-BlkIt.woff2') format('woff2'),
      url('fonts/DecagramTRIAL-BlkIt.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Decagram TRIAL';
  src: url('fonts/DecagramTRIAL-Lt.woff2') format('woff2'),
      url('fonts/DecagramTRIAL-Lt.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Decagram VF TRIAL';
  src: url('fonts/DecagramVFTRIAL-Thin.woff2') format('woff2'),
      url('fonts/DecagramVFTRIAL-Thin.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'GT America';
  src: url('fonts/GTAmerica-Bold.woff2') format('woff2'),
      url('fonts/GTAmerica-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT America';
  src: url('fonts/GTAmerica-Regular.woff2') format('woff2'),
      url('fonts/GTAmerica-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT America';
  src: url('fonts/GTAmerica-Regular.woff2') format('woff2'),
      url('fonts/GTAmerica-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT America';
  src: url('fonts/GTAmerica-Bold.woff2') format('woff2'),
      url('fonts/GTAmerica-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}









:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Decagram TRIAL' !important; 
  font-weight: 500;
  line-height: 1.2;
}
h1{
  font-size: 40px;
}
section.es-bounded {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4vw 1.25rem !important;
}
p, li{
  font-family: 'GT America' !important;
  line-height: 1.2;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



/* Slider */

.main-banner-bg{
  background-image: url(./images/hero-banner.png);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 50vh;

}
.main-banner-bg .es-bounded {
  display: flex;
  align-items: center;
  height: 50vh;
}
.main-banner-bg .es-bounded h1{
  font-size: 60px; 
}
.featured-heading{
  font-size: 40px;
  font-family: 'Decagram TRIAL' !important; 
  margin-bottom: 60px;
}
.keyfeature {
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;

}
.keyfeature div{
  width: calc(25% - 40px)
  
}
.keyfeature div img{
  margin-bottom: 20px;
  display: inline-block;
}
.keyfeature div p {
  font-size: 18px;
}
.Partner-text-heading {
  font-size: 40px;
  color: #191919;
}
.Partner-img  img {
  margin: 60px auto 20px;
}
.Partner-description  p {
  font-size: 40px;
  max-width: 60%;
  margin: 0 auto 30px;
  color: #191919;
}
.Partner-desgination{
  font-size: 20px;
  font-family: 'GT America' !important;
  font-weight: 600;
  color: #191919;

}
/* Cta section */

.ctasection{
  background-color: #DDEDEB;
  border-radius: 10px;
  margin-top: 80px !important;
}
.ctasmall-head{
  font-size: 22px;
  font-family: 'GT America' !important;
  font-weight: 600;
}
.ctalarge-head{
  font-size: 48px;
  max-width: 80%;
}
.margintop80{
  margin-top: 50px;
}
.green-global-btn {
  background-color: #437F78;
  color: #fff;
  border-radius: 8px;
  padding: 10px 20px;
  font-family: 'GT America' !important;
  
}
.align-baseline {
  align-items: end;
}
.justify-between{
  justify-content: space-between;
}
section.es-bounded.ctasection {
  padding: 50px !important;
}
/* Slider */
.feat-card {
  display: flex;
  column-gap: 20px;
}
.minislider{
  width: 33%;
  background-color: #437F78;
  padding: 30px;
  border-radius: 10px;
}
.feat-heading p {
  color: #FFFFFF;
  font-size: 26px;
  font-family: 'GT America' !important;
}
.sliderdescription {
  font-size: 18px;
  font-family: 'GT America' !important;
  margin: 20px 0;
  color: #fff;
  min-height: 220px;
  font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24px
}
.white-btn a {
  border-radius: 7.711px;
  background: #FFF;
  color: #858585;
  font-family: "GT America";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 12px 40px;
  display: inline-block;
  border: 0;
}
.white-btn a:hover, .green-global-btn:hover{
  background-color: #2f5c57;
  color:#fff;
}
.es-alternate-grid__primary-content__intro__description p {
  color: var(--text-text-base, #2E2E2E);
  font-family: "GT America";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.es-alternate-grid__primary-content__intro__headline h1 {
  color: var(--text-text-strong, #191919);
  font-family: Decagram;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
}
section.es-bounded.es-alternate-grid img {
  width: 100%;
}