@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'Decagram TRIAL';
  src: url('fonts/DecagramTRIAL-Th.woff2') format('woff2'),
      url('fonts/DecagramTRIAL-Th.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Decagram TRIAL';
  src: url('fonts/DecagramTRIAL-XLt.woff2') format('woff2'),
      url('fonts/DecagramTRIAL-XLt.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Decagram TRIAL';
  src: url('fonts/DecagramTRIAL-ThIt.woff2') format('woff2'),
      url('fonts/DecagramTRIAL-ThIt.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Decagram TRIAL';
  src: url('fonts/DecagramTRIAL-RgIt.woff2') format('woff2'),
      url('fonts/DecagramTRIAL-RgIt.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Decagram TRIAL';
  src: url('fonts/DecagramTRIAL-UltBlk.woff2') format('woff2'),
      url('fonts/DecagramTRIAL-UltBlk.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Decagram TRIAL';
  src: url('fonts/DecagramTRIAL-MdIt.woff2') format('woff2'),
      url('fonts/DecagramTRIAL-MdIt.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Decagram TRIAL';
  src: url('fonts/DecagramTRIAL-Md.woff2') format('woff2'),
      url('fonts/DecagramTRIAL-Md.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Decagram TRIAL';
  src: url('fonts/DecagramTRIAL-UltLt.woff2') format('woff2'),
      url('fonts/DecagramTRIAL-UltLt.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Decagram TRIAL';
  src: url('fonts/DecagramTRIAL-UltBlkIt.woff2') format('woff2'),
      url('fonts/DecagramTRIAL-UltBlkIt.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Decagram TRIAL';
  src: url('fonts/DecagramTRIAL-UltLtIt.woff2') format('woff2'),
      url('fonts/DecagramTRIAL-UltLtIt.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Decagram TRIAL';
  src: url('fonts/DecagramTRIAL-SmBdIt.woff2') format('woff2'),
      url('fonts/DecagramTRIAL-SmBdIt.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Decagram TRIAL';
  src: url('fonts/DecagramTRIAL-SmBd.woff2') format('woff2'),
      url('fonts/DecagramTRIAL-SmBd.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Decagram TRIAL';
  src: url('fonts/DecagramTRIAL-Rg.woff2') format('woff2'),
      url('fonts/DecagramTRIAL-Rg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Decagram TRIAL';
  src: url('fonts/DecagramTRIAL-XLtIt.woff2') format('woff2'),
      url('fonts/DecagramTRIAL-XLtIt.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Decagram TRIAL';
  src: url('fonts/DecagramTRIAL-LtIt.woff2') format('woff2'),
      url('fonts/DecagramTRIAL-LtIt.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Decagram TRIAL';
  src: url('fonts/DecagramTRIAL-BdIt.woff2') format('woff2'),
      url('fonts/DecagramTRIAL-BdIt.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Decagram TRIAL';
  src: url('fonts/DecagramTRIAL-Blk.woff2') format('woff2'),
      url('fonts/DecagramTRIAL-Blk.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Decagram TRIAL';
  src: url('fonts/DecagramTRIAL-Bd.woff2') format('woff2'),
      url('fonts/DecagramTRIAL-Bd.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Decagram TRIAL';
  src: url('fonts/DecagramTRIAL-BlkIt.woff2') format('woff2'),
      url('fonts/DecagramTRIAL-BlkIt.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Decagram TRIAL';
  src: url('fonts/DecagramTRIAL-Lt.woff2') format('woff2'),
      url('fonts/DecagramTRIAL-Lt.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Decagram VF TRIAL';
  src: url('fonts/DecagramVFTRIAL-Thin.woff2') format('woff2'),
      url('fonts/DecagramVFTRIAL-Thin.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'GT America';
  src: url('fonts/GTAmerica-Bold.woff2') format('woff2'),
      url('fonts/GTAmerica-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT America';
  src: url('fonts/GTAmerica-Regular.woff2') format('woff2'),
      url('fonts/GTAmerica-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT America';
  src: url('fonts/GTAmerica-Regular.woff2') format('woff2'),
      url('fonts/GTAmerica-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT America';
  src: url('fonts/GTAmerica-Bold.woff2') format('woff2'),
      url('fonts/GTAmerica-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}









:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Decagram TRIAL' !important; 
  font-weight: 500;
  line-height: 1.2;
}
h1{
  font-size: 40px;
}
section.es-bounded, .es-bounded {
  max-width: 1200px !important;
  margin: 0 auto !important; 
  padding: 4vw 1.25rem !important;
 
}
.header-bounded {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2vw 1.25rem !important;
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99999;
 
}

p, li{
  font-family: 'GT America' !important;
  line-height: 1.2;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



/* Slider */

.main-banner-bg {
  /* background-image: url(./images/hero-bg.png); */
  /* background-image: url(./images/main_banner_bg.png); */
  background-position: 140%;
  background-repeat: no-repeat;
  background-size: 66.3% 100%;
  height: 650px;

}
.main-banner-bg::after{
  content: "";
  display:inline-block;
  width: 100%;
  height: 100%;
  background-image: url(./images/main_banner_bg.png);
  right: 0;
  top:0;
  z-index: 99;
  pointer-events: none;
  background-size: 52%;
  background-repeat: no-repeat;
  position: absolute;
  background-position: top right;
}
.main-banner-bg .es-bounded {
  display: flex;
  align-items: center;
  /* height: 50vh; */
  padding-top: 250px !important;
}
.main-banner-bg .es-bounded h1{
  font-size: 60px; 
}
.main-menu a:hover{
  color: #2F615D;
  opacity: 100%;
}
.featured-heading{
  font-size: 40px;
  font-family: 'Decagram TRIAL' !important; 
  margin-bottom: 90px;
}
.keyfeature {
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;

}
.keyfeature div{
  width: calc(25% - 40px)
  
}
.keyfeature div img{
  margin-bottom: 20px;
  display: inline-block;
}
.keyfeature div p {
  font-size: 18px;
}
.Partner-text-heading {
  font-size: 40px;
  color: #191919;
}
.Partner-img  img {
  margin: 60px auto 20px;
}
.Partner-description  p {
  font-size: 40px;
  max-width: 60%;
  margin: 0 auto 30px;
  color: #191919;
}
.Partner-desgination{
  font-size: 20px;
  font-family: 'GT America' !important;
  font-weight: 600;
  color: #191919;

}
/* Cta section */

.ctasection{
  background-color: #DDEDEB;
  border-radius: 10px;
  margin-top: 80px !important;
}
.ctasmall-head{
  font-size: 22px;
  font-family: 'GT America' !important;
  font-weight: 600;
}
.ctalarge-head{
  font-size: 48px;
  max-width: 80%;
}
.margintop80{
  margin-top: 50px;
}
.green-global-btn {
  background-color: #437F78;
  color: #fff;
  border-radius: 8px;
  padding: 10px 20px;
  font-family: 'GT America' !important;
  
}
.align-baseline {
  align-items: end;
}
.justify-between{
  justify-content: space-between;
}
section.es-bounded.ctasection {
  padding: 50px !important;
}
/* Slider */
.feat-card {
  display: flex;
  column-gap: 20px;
}
.minislider{
  background-color: #437F78 !important;
  padding: 30px !important;
  border-radius: 10px;
  text-align: left !important;
}
.feat-heading p {
  color: #FFFFFF !important;
  font-size: 26px;
  font-family: 'GT America' !important;
}
.sliderdescription {
  font-size: 18px;
  font-family: 'GT America' !important;
  margin: 20px 0;
  color: #fff !important;
  min-height: 220px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px
}
.white-btn{
  padding: 0px !important;
}
.white-btn a {
  border-radius: 7.711px;
  background: #FFF;
  color: #858585;
  font-family: "GT America";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 12px 40px;
  display: inline-block;
  border: 0;
}
.white-btn a:hover, .green-global-btn:hover, .learnmore a:hover{
  background-color: #2f5c57;
  color:#fff;
}
.es-alternate-grid__primary-content__intro__description p {
  color: var(--text-text-base, #2E2E2E);
  font-family: "GT America";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.es-alternate-grid__primary-content__intro__headline h1 {
  color: var(--text-text-strong, #191919);
  font-family: Decagram;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
}
/* section.es-bounded.es-alternate-grid img {
  width: 100%;
} */
.es-alternate-grid__image--right{
  margin-left: auto;
}
section.es-bounded.text-center.partner-section {
  padding: 6vw 1.25rem !important;
}
section.es-bounded.ctasection {
  margin: 80px auto 130px !important;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "GT America";
}
.main-menu {
  display: flex;
  align-items: center;
  column-gap: 50px;
}
.menuitems a {
  color: #191919;
  font-family: "GT America";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  padding: 5px 15px;
  opacity: 50%;
}
.right-menu a{
  color: #2F615D;
  font-family: "GT America";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  padding: 5px 15px;
}

.right-menu a:nth-child(2) {
  color: #fff !important;
  background-color: #191919;
  border-radius: 5px;
  padding: 6px 30px 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.right-menu a:nth-child(2):hover{
  background-color: #437F78;
}
.menuitems a:hover, .right-menu a:hover{
  color: #437F78;
}
section.footer-bg {
  background-color: #000;
  border-radius: 30px 30px 0 0;
  margin-top: 100px;
}
.main-footer{
  display: flex;
  justify-content: space-between;
}
.main-footer .footercontact a{
  font-size: 64px;
  font-family: 'Decagram TRIAL' !important; 
  color: #fff;
  margin-top: 200px;
  display: inline-block;

}
.footermenus a{
  display: block;
  font-family: 'Decagram TRIAL' !important; 
  font-size: 40px;
  color: #fff;
  opacity: 30%;
  transition: 0.3s all;
}
.footermenus a:hover{
  opacity: 1;
  
}
.main-footer .footercontact a:hover{
  opacity: 60%;
}
.footerbottomlinks::before {
  content: "";
  display: inline-block;
  width: calc(100% + 60%);
  height: 1px;
  background-color: rgb(238 238 238 / 30%);
  left: -30%;
  position: absolute;
  top: 40px;
}
.footerbottomlinks{
  position: relative;
  padding-top:100px ;
}
.footerbottomlinks a, .footerright span{
  color: #FFF;
  font-family: "GT America";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.footerbottomlinks {
  display: flex;
  justify-content: space-between;
}
.footer-left {
  display: flex;
  column-gap: 100px;
}
.footersociallinks a {
  display: block;
}
.footerright span {
  max-width: 16ch;
  display: inline-block;
}
.footercontact a{
  position: relative;
}
.footercontact a::after {
  content: "";
  display: inline-block;
  width: 44px;
  height: 44px;
  background-image: url(./images/contactright.png);
  background-size: contain;
  position: absolute;
  right: -60px;
  background-repeat: no-repeat;
  top: 26px;
}

.learnmore a {
  border-radius:8px;
  background:  #437F78;
  color: #fff;
  padding: 12px 30px 14px;
  font-family: "GT America";
  position: relative;
  display: inline-flex;
  align-items: center;
  width: auto;
}


.learnmore a::after {
  content: "";
  display: inline-block;
  width: 28px;
  height: 16px;
  background-image: url(./images/arrowRight.png);
  background-position: 82% 80%;
  background-size: contain;
  background-repeat: no-repeat;
}
.green-global-btn a, .right-menu a:nth-child(2){
  position: relative;
  display: inline-flex;
  align-items: center;
}
.green-global-btn a::after{
  content: "";
  display: inline-block;
  width: 28px;
  height: 16px;
  background-image: url(./images/arrowRight.png);
  background-position: 82% 80%;
  background-size: contain;
  background-repeat: no-repeat;
}
.right-menu a:nth-child(2)::after{
  content: "";
  display: inline-block;
  width: 28px;
  height: 16px;
  background-image: url(./images/arrowRight.png);
  background-position: 82% 80%;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  top: 3px;
}
.footer-left a:hover{
  opacity: 80%;
}
/* styles/globals.css or a module.css file */
.main__slider{
  margin:100px 0;
}
.swiper img {
  height: auto; /* Adjust height to maintain aspect ratio */
}
.swiper-button-prev, .swiper-button-next{
  display: none !important;
}
.main__slider .swiper-pagination.swiper-pagination-fraction.swiper-pagination-horizontal {
  bottom: -0px;
}
.main__slider .swiper {
  padding-bottom: 40px !important;
}
.main__slider .swiper-pagination span{
  width: 5px;
  height: 3px;
  border-radius: 50px;
  background-color: #b5b5b5;
  display: inline-block;
  margin: 0px 5px;
}
.main__slider span.swiper-pagination-current {
  width: 30px;
}

.main__slider .swiper-pagination {
  font-size: 0;
}
.main__slider span.swiper-pagination-total {
  box-shadow: 10px 0px 0 0 #bdbdbd;
}
.es-bounded{
  overflow-x: hidden;
}

.menu_toggle{
  display: none;
}

.housingslider > div   {
  margin-left: calc((100vw - 1200px) / 2) !important;
}
/* .housingslider .swiper-wrapper{
  justify-content: start !important;
  flex-direction: row-reverse;
} */
   /* Align the Swiper to the right */
/* .housingslider  .swiper-wrapper {
  display: flex;
  justify-content: flex-end; 
} */



  /* Align the Swiper to the right */
  /* .swiper-wrapper {
    display: flex !important;
    justify-content: flex-end !important;
  }

  
  .swiper-slide {
    margin-right: 30px !important;
  }

  
  .swiper-slide:first-child {
    margin-right: 0 !important;
  } */


  /* .housingslider  .swiper-wrapper {
    display: flex !important;
   
  }


  .housingslider  .swiper-slide {
    margin-right: -20px; 
  }


  .housingslider  .swiper-slide:first-child {
    margin-right: 0; 
  } */



  /* .housingslider  .swiper-wrapper {
    justify-content: flex-start !important;
  }

  
  .housingslider  .swiper-slide {
    transition: transform 0.5s ease !important;
  }

  .housingslider  .swiper-slide:last-child {
    margin-right: 0 !important; 
  } */

  .housingslider  .swiper-slide {
   width: 30% !important;
  }


  

@media (max-width:1180px) {
  .menuitems {
    position: absolute;
    background: #000;
    z-index: 99;
    top: 65px;
    width: 100%;
    left: -102%;
    padding: 20px;
    transition: left 0.5s ease-in-out;
}
.menuitems.show{
  left: 0px;
}
.menu_toggle{
  display: block;
}
span.toggle_span {
  transform: rotate(90deg);
  display: block;
  margin-left: 10px;
  font-size: 30px;
}
.minislider{
  min-height: 420px;
}
.right-side-menu{
  display: flex;
  column-gap: 20px;
}
.right-menu a:nth-child(2){
  padding: 4px 30px 9px;
}
.menuitems a {
  display: block;
  color: #fff;
}
}

@media (max-width:992px) {

 
.menuitems a {
    display: block;
    color: #fff;
}

  .keyfeature div{
    width: calc(50% - 40px);
    margin-bottom: 30px;
  }
  .es-alternate-grid__primary-content__intro__headline h1 {
    font-size: 25px;
    line-height: 30px;
}
.Partner-description  p {
  font-size: 35px;
  max-width: 80%;
}
.ctalarge-head {
  font-size: 35px;
  max-width: 65%;
}
.main-banner-bg .es-bounded{
  padding-top: 400px !important;
}
.minislider{
  min-height: 420px;
}
.footerbottomlinks{
  flex-wrap: wrap;
}
.footer-left{
  width: 100%;
  justify-content: space-between;
}
.footerright{
  width: 100%;
  text-align: center;
}
.main-banner-bg::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: url(/_next/static/media/main_banner_bg.c4dce507.png);
  right: 10px;
  top: 0;
  z-index: 99;
  pointer-events: none;
  background-size: 60%;
  background-repeat: no-repeat;
  position: absolute;
  background-position: top right;
}
.main-banner-bg .es-bounded h1 {
  font-size: 50px;
}
.main-banner-bg .es-bounded h1  br{
 display: none;
}

.housingslider  .swiper-slide {
  width:30% !important;
 }
}


@media (max-width:767px) {
  .main-banner-bg{
    height: 480px;
  }
  .main-banner-bg .es-bounded h1{
    font-size: 40px;
  }
  section.es-bounded.ctasection {
    padding: 25px !important;
}
section.es-bounded.ctasection .flex.justify-between.align-baseline.margintop80 {
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px !important;
}
.ctalarge-head {
  font-size: 30px;
  max-width: 100%;
}
.footercontact a::after {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(/_next/static/media/contactright.a64af467.png);
  background-size: contain;
  position: absolute;
  right: -39px;
  background-repeat: no-repeat;
  top: 21px;
}
.main-footer .footercontact a {
  font-size: 40px;
  margin-top: 30px;
}
.footerbottomlinks{
  flex-wrap: wrap;
}
.es-bounded .main-footer .footermenus {
  width: 40%;
}
.footermenus a{
  font-size: 25px;
}
.footerright {
  width: 100%;
  text-align: center;
}
.right-menu {
  display: flex;
  align-items: center;
}

.right-menu a:nth-child(2) {
  padding: 7px 10px;

}

.right-menu a {
  font-size: 14px;
}
.footer-left{
  width: 100%;
  justify-content: space-between;
}
.es-alternate-grid__image--right + div {
  order: 2 !important;
}
.es-alternate-grid__image--right {
  order: 1 !important;
}
.main-menu .logo img {
  max-width: 120px;
}

.footerbottomlinks {
  position: relative;
  padding-top: 58px;
}
.footerbottomlinks a, .footerright span{
  font-size: 16px;
}
.keyfeature div{
  width: 100%;
}
.Partner-description  p {
  font-size: 25px;
  max-width: 80%;
}
.featured-heading{
  margin-bottom: 40px;
}
section.es-bounded.ctasection {
  margin: 20px auto 30px !important;
}
section.footer-bg{
  margin-top: 50px;
}
.main__slider {
  margin: 50px 0;
}
.featured-heading {
  font-size: 30px;
}
.es-alternate-grid__image--right{
  margin: 0px;
}
.sliderdescription{
  min-height: auto;
}

}
@media (max-width:600px) {
  .main-banner-bg .es-bounded {
    padding-top: 300px !important;
}
.minislider{
  min-height: 350px;
}
.housingslider  .swiper-slide {
  width:46% !important;
 }
 section.es-bounded.ctasection{
  display: none;;
 }
}
@media (max-width:450px) {
  .es-bounded .main-footer .footermenus {
    width: 30%;
}
.footermenus a{
  font-size: 16px;
}
.main-menu .logo img {
  max-width: 100px;
}
.main-footer .footercontact a {
  font-size: 25px;
}
.footercontact a::after {
  width: 16px;
  height: 16px;
  right: -27px;
  top: 12px;
}
.Partner-description p {
  font-size: 20px;
  max-width: 100%;
}
.menuitems{
  top: 46px;
}
.main-banner-bg .es-bounded{
  padding-top: 250px !important;
}
.main-banner-bg::after{
  background-size:84%;
}
}

@media only screen and (max-width:480px){
  .housingslider  .swiper-slide {
    width: 50% !important;
}
}

@media (max-width:380px) {
  .right-menu a {
    font-size: 12px;
    padding: 5px 8px;
}
.main-menu .logo img {
  max-width: 80px;
}
.main-banner-bg .es-bounded h1 {
  font-size: 32px;
}
.main-banner-bg .es-bounded h1 br{
  display: none;
}
.main-banner-bg {
  height: 340px;
}
.main-banner-bg .es-bounded {
  padding-top: 180px !important;
}
.footerbottomlinks a, .footerright span{
  font-size: 14px;
}
.Partner-text-heading{
  font-size: 25px;
}
.main-banner-bg::after {
  background-size: 65%;
}
}